{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">
                    {% for noticia in noticia %}
    <!--03-->   <article class="post clearfix">
                    <a href="#" class="thumb pull-left">
                        <img class="" src="slider/014.jpg" alt="">
                    </a>
                    <h2 class="post-title">
                        <a href="#">{{noticia.descripcion}}</a>
                    </h2>
                    <p><span class="post-fecha">13 de junio del 2018</span> por <span class="post-autor"><a href="#">{{noticia.nombre}}</a></span></p>
                    <p class="post-contenido text-justify">
                
                    </p>
                    <div class="contenedor-botones">
                        <a href="#" class="btn btn-primary">Leer mas</a>
                        <a href="#" class="btn btn-success">Comentarios <span class="badge">10</span></a>
                    </div>
              
                </article>
{% endfor %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
